<header class="site-header">
  <div class="header-inner">

    <a href="{{ '/' | relative_url }}" class="logo">
      <img 
        id="site-logo"
        data-baseurl="{{ site.baseurl }}"
        src="{{ '/assets/images/logo/fantail-logo-black.svg' | relative_url }}"
        alt="Fantail GIS logo"
      >
    </a>

    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/map/' | relative_url }}">Map</a>
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <button id="theme-toggle" class="theme-toggle">🌓</button>
    </nav>



  </div>
</header>
