<header class="site-header">
  <div class="header-inner">

    <a href="{{ '/' | relative_url }}" class="logo">
      <img 
        id="site-logo"
        data-baseurl="{{ site.baseurl }}"
        src="{{ '/assets/images/logo/fantail-logo-black.svg' | relative_url }}"
        alt="Fantail GIS logo"
      >
    </a>

    <button id="nav-toggle" class="nav-toggle" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="site-nav">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="site-nav" id="site-nav">
      <a href="{{ '/' | relative_url }}"{% if page.url == '/' %} class="active"{% endif %}>Home</a>
      <a href="{{ '/map-viewer/' | relative_url }}"{% if page.url == '/map-viewer/' %} class="active"{% endif %}>Map viewer</a>
      <a href="{{ '/webmaps-and-visualisations/' | relative_url }}"{% if page.url == '/webmaps-and-visualisations/' %} class="active"{% endif %}>Webmaps and visualisations</a>
      <a href="{{ '/projects/' | relative_url }}"{% if page.url == '/projects/' %} class="active"{% endif %}>Projects</a>
      <a href="{{ '/about/' | relative_url }}"{% if page.url == '/about/' %} class="active"{% endif %}>About</a>
      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode"><i class="fa-solid fa-moon" id="theme-toggle-icon"></i></button>
    </nav>

  </div>
</header>