<div id="map-legend-bar">

  <div class="legend-row">
    <span class="legend-symbol status-current-star"></span>
    <span class="legend-label">Current</span>
  </div>

  <div class="legend-row">
    <span class="legend-symbol status-completed"></span>
    <span class="legend-label">Completed</span>
  </div>

  <div class="legend-row">
    <span class="legend-color-swatch type-response"></span>
    <span class="legend-label">Response</span>
  </div>

  <div class="legend-row">
    <span class="legend-color-swatch type-training"></span>
    <span class="legend-label">Training</span>
  </div>

  <div class="legend-row">
    <span class="legend-color-swatch type-preparedness"></span>
    <span class="legend-label">Preparedness & anticipatory action</span>
  </div>

  <div class="legend-row">
    <span class="legend-color-swatch type-development"></span>
    <span class="legend-label">Development</span>
  </div>

  <div class="legend-row">
    <span class="legend-color-swatch type-other"></span>
    <span class="legend-label">Other</span>
  </div>

</div>
