<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Fantail GIS</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/logo/favicon.ico' | relative_url }}">
</head>

<body class="{{ page.body_class }}">

  {% include header.html %}

  <main class="page-content">
    <div class="page-inner">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  {% if page.layout == "home" %}
    {% include js-home.html %}
  {% endif %}

  {% if page.layout == "gallery" %}
    {% include js-gallery.html %}
  {% endif %}


</body>
</html>
