<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | Fantail GIS</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="icon" href="{{ site.baseurl }}/assets/images/logo/fantail-logo-black.svg">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
</head>

<body>

  {% include header.html %}

  <main class="page-content">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
</body>
</html>
